extends ../layout

block content
    .container
        -if(error)
            .alert-danger.alert
                a.close(href="#") ×
                p #{error}
        -if(message)
            .alert-danger.alert
                a.close(href="#") ×
                p #{message}
        div.panel.panel-default
            div.panel-heading
                User Profile
            div.panel-body
                dl.dl-horizontal(style="font: 13px")
                    dt Username
                    dd 
                        =user_view['username']

                    dt First Name
                    dd 
                        =user_view['first_name']

                    dt Last Name
                    dd 
                        =user_view['last_name']

                    dt Email
                    dd 
                        =user_view['email']
                    dt Cellphone
                    dd 
                        =user_view['cellphone'] 

                    dt Last Login
                    dd 
                        =user_view['last_login']
                    dt Date Joined
                    dd 
                        =user_view['date_joined']