<html>
  <head>
    <title>Reset Password Confirmation</title>
  </head>
  <body>
      <div>
            <p>Hi {{name}},</p>
            <p>&nbsp;</p>
            <p>A password-link reset was requested on Smart Park account registered on this email address and the following 
                username.</p>
            <p>Username: {{username}}</p>
      </div>
      <div>
            <p>Click this link to reset your password: </p>
            <a href="{{link}}" alt="reset password link">Click here to reset password</a>
      </div>
      <div>
            <p>If you did not request that your password be reset, you can safely ignore this email. It's likely that another person has mistakenly attempted to log in using your email.  </p>
            <p>As long as you do not click the link above, no action will be taken and your account will remain secure.</p>
      </div>
  </body>
</html>
